<div class="columns fit-page">
    <div class="column">
        <h1 class="title is-1">Featured Mad Libs</h1>

        <ul>
            <% @madlibs.each do | madlib | %>
                <a href="/stories/<%= madlib.slug %>/new"><p class="subtitle is-4"><%= madlib.title %></p></a>
                <p class="created-at">
                    <% count = Madlib.all.select{ | ml | ml.title == madlib.title }.count %>
                    <% if count == 1 %> 
                        Completed by 1 user
                    <% elsif count < 1%> 
                        Be the first to complete!
                    <% else %>
                        Completed by <%= count %> users.
                    <% end %> 
                </p><br>
            <% end %>
        </ul>
    </div>
</div>
