<div class="columns fit-page">
    <div class="column">
        <h1 class="title is-1">Featured Mad Libs</h1>

        <ul>
            <% @madlibs.each do | madlib | %>
                <p><a href="/stories/<%= madlib.slug %>/new"><li><%= madlib.title %></li></a><p><br>
            <% end %>
        </ul>
    </div>
</div>
