<h1>Welcome <%= current_user.first_name %>!</h1>

<h3>Featured Mad Libs</h3>

<ul>
    <% @madlibs.each do | madlib | %>
        <a href="/stories/<%= madlib.id %>/new"><li><%= madlib.title %></li></a><br>
    <% end %>
</ul>


<a href="/stories">View your Completed Mad Libs</a>
