@media screen {

.content-mobile {
  display: none;
}

.content-desktop {
  display: block;
}

/* --- Navigation Bar -- */

.topnav {
  background-color: #000000;
  opacity: 0.9;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%; 
  z-index: 29;
}

.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.topnav .left-nav {
  float: left;
}

.topnav .left-nav:hover {
  color: #9D9D9D !important;
  transition: 0.2s;
}

.topnav .right-nav {
  float: right;
  margin: 9px;
}

  /* --- Header --- */

  #header {
    height: 105vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/pexels-photo-1106468.jpeg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }

  .user-box {
    padding-top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

  .user-box img {
    width: 400px;
  }

  /* --- Columns --- */

  .columns {
    position: relative;
    padding: 100px 20px 100px 20px;
    display: table;
    background-color: #F7EDE2;
  }

  .column {
    text-align: center;
    padding: 0px 20px 0px 20px;
    display: table-cell;
    vertical-align: middle;

  }

  .column .column-content {
    padding: 0px 60px 0px 60px;
    text-align: center;
  }

  /* --- Forms --- */

  .flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 100px 10px 50px 10px;
  }

  section.content {
    flex: 1;
  }

  .center-form {
    min-height: 600px;
    overflow: auto;
    position: relative;
    background-color: #F7EDE2;
  }

  .center-content {
    margin: 0;
    position: absolute;
    top: 55%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .form-signup {
    height: 100%;
    padding: 100px 350px 50px 350px;
    background-color: #F7EDE2;
  }

  .form-signup h1 {
    text-align: center;
  }
  
  .form-madlib {
    padding: 0px 450px 50px 450px;
  }

  .form-madlib h1 {
    text-align: center;
  }

  /* --- Buttons --- */

  .outer {
    display: flex;
  }

  .outer-center {
    justify-content: center;
  }

  .outer .inner-button {
    margin: 20px 20px 0px 0px;
  }

  .btm-pad {
    margin-bottom: 30px;
  }

  /* --- Image Formatting --- */
  .center-img img {
    margin-top: 30px;
    height: 300px;
  }

  #round-corner {
    margin-top: 10px;
    border-radius: 25px;
  }

  /* --- Browse Page --- */
  
  .page-left {
    padding: 100px 30px 30px 30px;
    background-color: #F7EDE2;
    min-height: 600px;
  }

  .page-left h1 {
    padding-bottom: 10px;
  }

  /* --- Profile --- */

  .fit-page {
    padding: 100px 0px 50px 0px;
    min-height: 600px;
  }

  /* --- View Story Page --- */

  .fit-story-page {
    padding: 200px 30px 150px 30px;
    min-height: 600px;
  }


  /* --- Reset Styles --- */
  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
    width: 100%;

  }

  /* --- Welcome Page Styles --- */
  body {
    color: #333;
    font-family: Sans-Serif;
    line-height: 18px;
    display: block;

  }

  .wrapper {
    background-color: #F7EDE2;
    margin: 0 auto;
  }

  h2 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;
  }

  h3 {
    font-size: 18px;
    line-height: 36px;
  }

  p {
    margin-bottom: 18px;
  }

  .created-at {
    font-size: x-small;
  }

  .created-by {
    font-size: small;
  }

  .list-story {
    padding-bottom: 20px;
    padding-left: 20px;
  }

  #title {
    font-weight: bold;
  }

  .list-story a {
    margin-top: 5px;
  }

  #delete-profile {
    margin-top: 30px;
  }

  .center-page {
    text-align: center;
  }

  .main {
    overflow: hidden;
  }

  .content {
    float: left;
    width: 60%; /* 480px / 800px */
  }

  .sidebar {
    background: #eee;
    border: 1px solid #ccc;
    float: right;
    padding: 2.08333333333%; /* 5px / 240px */
    width: 30%; /* 240px / 800px */
  }

  .sidebar ul {
    font-size: 14px;
  }

  label, input {
    margin-top: 2px;
    margin-bottom: 2px;
  }

  /* --- Footer --- */

  footer {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/pexels-photo-267669.jpeg);
    background-position: center;
    background-size: cover;
  }

  .branding {
    clear: both;
  }

  footer.branding {
    padding: 70px 60px 60px 60px;
    color: white;
    font-weight: bold;
    text-align: center;
  }

  /* --- Flash Message Styling --- */

  .flash {
    margin-top: 5px;
    z-index: 30;
    width: 600px;
    padding: 5px;
    font-weight: bold;
    background:#ddd;
    color:#666;
    border:1px solid #ccc;
    text-align: center;
    align-content: center;
    position: fixed;
    font-size: 13px;
    left: 27%;
  }

  .info {
    background:#D9EDF7;
    color:#3A87AD;
    border:1px solid #BCE8F1;
  }
  .warning {
    background:#FCF8E3;
    color:#C09853;
    border:1px solid #FBEED5;
  }
  .success {
    background:#DFF0D8;
    color:#468847;
    border:1px solid #D6E9C6;
  }
  .error {
    background:#F2DEDE;
    color:#B94A48;
    border:1px solid #EED3D7;
  }

  /* ------------------------ANIMATION-------------------------- */

.animated {
  -webkit-animation-duration: 2.5s;
  -moz-animation-duration: 2.5s;
  -o-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; 
  }

  100% {
    opacity: 1; 
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
} 

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  } 
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
}

/* --- Animation --- */
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
  }
}

@media screen and (max-width: 600px) {
  .content-desktop {
    display: none;
  }

  .content-mobile {
    display: block;
  }


  .content-mobile a {
    text-decoration: none;
    color: #FFFFFF !important;
    opacity:1;
    font-family: Sans-Serif;
    font-size: px;
    font-weight: 400;
    transition: 200ms;
    font-weight: bold;  
  }

  .content-mobile a:hover {
    opacity:0.5;
  }

  .content-mobile ul {
    padding: 0;
    list-style-type: none;
  }
  
  nav {
    background-color: #1E1E23;
    height: 65px;
  }
  
  
  #menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 22px;
    left: 25px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  
  #menuToggle input
  {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }
  
  #menuToggle span
  {
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
  }
  
  #menuToggle span:first-child
  {
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }
  
  #menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: #36383F;
  }
  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  #menu {
    position: absolute;
    width: 180px;
    height: 330px;
    box-shadow: 0 0 10px #85888C;
    margin: -50px 0 0 -50px;
    padding: 80px 10px 50px 50px;
    background-color: #1E1E23;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  
  #menu li
  {
    padding: 10px 0;
    transition-delay: 2s;
  }
  
  #menuToggle input:checked ~ ul
  {
    transform: none;
  }



  .wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: auto;
  }

  .content, .sidebar {
    float: none;
    width: 100%;
  }

  .sidebar {
    background: transparent;
    border: none;
    border-top: 2px solid #ccc;
    padding: 0;
  }

  h1 {
    font-size: 24px;
    line-height: 36px;
  }

  h2 {
    font-size: 18px;
    line-height: 24px;
  }
  
}
