<div class="fit-page">
    <h3 class="subtitle is-3 center-page">Are you sure you want to delete your account?</h3>
    <div class="outer outer-center">
        <form method="POST" action="/users/<%=@user.slug %>/delete">
            <input type="hidden" id="hidden" name="_method" value="DELETE">
            <input class="button is-light inner-button" type="submit" value="Confirm">
        </form>
        <a class="button is-link inner-button" href="/users/<%= @user.slug %>">Cancel</a>
    </div>
</div>