<div class="center-form">
	<div class="center-content">
        <form method="POST" action="/login">
            <div class="field">
                <label for="username" class="label">Username</label>
                <div class="control has-icons-left">
                    <input class="input" type="text" name="username" placeholder="Text input">
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </div>
            </div>

            <div class="field">
                <label for="password" class="label">Password</label>
                <div class="control has-icons-left">
                    <input class="input" type="password" name="password" placeholder="Password">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                </div>
            </div>

            <input class="button is-light" type="submit" name="submit" value="Log in">
        </form>
    </div>
</div>