<div class="fit-page">
    <h1 class="title is-1 center-page"><%= @madlib.title %></h1>

    <div class="form-madlib">
        <form method="POST" action="/stories" >
            <% @madlib.blanks.each_with_index do | word, i | %>
                <div class="field">
                    <label for="<%=x word %>" class="label"><%= word.capitalize %></label>
                    <div class="control">
                        <input class="input" name="blanks[<%= i %>]" type="text">
                    </div>
                </div>
            <% end %>
        
            <input class="button is-link" type="submit" name="submit" value="Submit">
            <button class="button is-link is-light" type="submit" name="cancel" formaction="/madlibs/cancel">Cancel</button>
        </form>  
    </div>
</div>