<div class="flex-container">
    <div class="header">
        <h1 class="title is-1"><%= @madlib.title %></h1>
    </div>

    <section class="content">
        <form method="POST" action="/stories" >
            <% @madlib.blanks.each_with_index do | word, i | %>
                <div class="field">
                    <label for="<%= word %>" class="label"><%= word.capitalize %></label>
                    <div class="control">
                        <input class="input" name="blanks[<%= i %>]" type="text">
                    </div>
                </div>
            <% end %>
            
            <input class="button is-link" type="submit" name="submit" value="Submit">
            <input class="button is-link is-light" type="submit" name="cancel" value="Cancel">
        </form>  
    </section>
</div>