<h1 class="title is-1">Here are all your Completed Mad Libs!</h1>

<ul>
    <% @stories.each do | story | %>
        <a href="/stories/<%= story.id %>"><li><%= story.madlib.title %></li></a>
        <p><%= story.created_at.strftime("Created on %m/%d/%Y at %I:%M%p")  %></p><br>
    <% end %>
</ul>